<!DOCTYPE html>
<html>
<head>
    <title>Azure Dashboard</title>
</head>
<body>
    <h1>Results:</h1>
    <p>Number of Transactions: {{ kpi.nb_transactions }}</p>
    <p>Number of Cash In: {{ kpi.nb_cash_in }}</p>
    <p>Number of Cash Out: {{ kpi.nb_cash_out }}</p>
    <p>Number of Transfer: {{ kpi.nb_transfer }}</p>
    <p>Number of Payment: {{ kpi.nb_payment }}</p>
    <p>Number of Debit: {{ kpi.nb_debit }}</p>
    <p>Average Amount: {{ kpi.avg_amount }}</p>
    <p>Number of Fraudulent Transactions: {{ kpi.nb_fraud }}</p>
    <p>Number of Non-Fraudulent Transactions: {{ kpi.nb_notfraud }}</p>
</body>
</html>
